#######################################################
### AzerothCore Module Promotion configuration file ###
#######################################################
[worldserver]

###################################################################################################
# SECTION INDEX
#
#    CONFIG MODULE
#    CLASS ENABLE
#
###################################################################################################

###################################################################################################
#	CONFIG MODULE
#
#		NpcPromotion.enable
#
#			Description:	Variable that enables or disables the module
#
#			Example:	"true" - (Enabled)
#						"false" - (Disabled)
#
#		Default:     true

NpcPromotion.enable = true

#
#		NpcPromotion.announceEnable
#
#		Description:	Enables the message on the server.
#
#			Example:	"true" - (Enabled)
#						"false" - (Disabled)
#
#		Default:     true

NpcPromotion.announceEnable = true

#
#		NpcPromotion.count
#
#		Description:	Amount of promotion per account.
#
#		Example:
#				1 - (One)
#				2 - (Two)
#
#		Default:     1

NpcPromotion.count = 1

#
#		Promotion per IP configuration
#
#		Description:	Number of promotions per ip.
#
#		Example:
#				NpcPromotion.enableIpLimit = true (Enable limit per IP)
#				NpcPromotion.count = 1 (Max promotions per IP)
#
#		Default:
#				NpcPromotion.enableIpLimit = true
#				NpcPromotion.count = 1

NpcPromotion.enableIpLimit = true
NpcPromotion.countIp = 1

#
#		NpcPromotion.MaxLevel
#
#		Description:	Set max level to receive a promotion
#
#		Example:
#				80 - (All characters with level lower than 80 can apply for promotion)
#
#		Default:     80

NpcPromotion.MaxLevel = 80



#
#		NpcPromotion.money
#
#		Description:	Set amount of money to give on promotion
#
#		Example:
#				25009999 - (Will give 2500 gold, 99 silver and 99 cooper)
#
#		Default:     25000000

NpcPromotion.money = 25000000

#
#		Bag configuration
#
#		Description:	Set item id for the bag to give on promotion
#
#		Example:
#				NpcPromotion.bagEnable = true - (Enable bag rewards)
#				NpcPromotion.equippedbags = true - (Autoequip bags on promotion)
#				NpcPromotion.bag = 20400 - (Will give Pumpkin bag)
#				NpcPromotion.bagAmount = 3 - (Will give 3 promotion bags)
#
#		Default:
#				NpcPromotion.bagEnable = true
#				NpcPromotion.equippedbags = true
#				NpcPromotion.bag = 20400
#				NpcPromotion.bagAmount = 4

NpcPromotion.bagEnable = true
NpcPromotion.equippedbags = true
NpcPromotion.bag = 20400
NpcPromotion.bagAmount = 4

#
###################################################################################################

###################################################################################################
#	CLASS ENABLE
#
#		NpcPromotionWarriorTank.enable
#
#			Description:	Enables the promotion of tank warriors
#
#			Example:	"true" - (Enabled)
#						"false" - (Disabled)
#
#		Default:     true

NpcPromotionWarriorTank.enable=true

#		NpcPromotionWarriordps.enable
#
#			Description:	Enable dps warriors
#
#			Example:	"true" - (Enabled)
#						"false" - (Disabled)
#
#		Default:     true

NpcPromotionWarriordps.enable=true

#
###################################################################################################
