#######################################################
### AzerothCore Module Promotion configuration file ###
#######################################################
[worldserver]

###################################################################################################
# SECTION INDEX
#
#    CONFIG MODULE
#    CLASS ENABLE
#
###################################################################################################

###################################################################################################
#   CONFIG MODULE
#
#
#   Description:    Variable that enables or disables the module
#
#   Example:    "true" - (Enabled)
#               "false" - (Disabled)
#
#   Default:     true
#

npc.promotion.enable = true

#
#   Description:    Entry inside acore string to display the message
#
#   Default:     40000
#

npc.promotion.acore.string.message = 40000

#
#   Description:    Enables the message on the server.
#
#   Example:    "true" - (Enabled)
#               "false" - (Disabled)
#
#   Default:    true
#

npc.promotion.announce.enable = true

#
#   Description:    Amount of promotion per account.
#
#   Example:
#
#       1 - (One)
#       2 - (Two)
#
#   Default:    1
#

npc.promotion.count = 1

#
#   Description:    Number of promotions per ip.
#
#   Example:
#       npc.promotion.enable.ip.limit = true (Enable limit per IP)
#       npc.promotion.count.ip = 1 (Max promotions per IP)
#
#   Default:
#       npc.promotion.enable.ip.limit = true
#       npc.promotion.count.ip = 1
#

npc.promotion.enable.ip.limit = true
npc.promotion.count.ip = 1

#
#   Description:    Set max level to receive a promotion
#
#   Example:
#       80 - (All characters with level lower than 80 can apply for promotion)
#
#   Default:     80
#

npc.promotion.level = 80

#
#   Description:    Set amount of money to give on promotion
#
#   Example:
#       25009999 - (Will give 2500 gold, 99 silver and 99 cooper)
#
#   Default:     25000000
#

npc.promotion.money = 25000000

#
#   Description:    Set item id for the bag to give on promotion
#
#   Example:
#       npc.promotion.bag.enable = true - (Enable bag rewards)
#       npc.promotion.equipped.bags = true - (Autoequip bags on promotion)
#       npc.promotion.bag = 20400 - (Will give Pumpkin bag)
#       npc.promotion.bag.amount = 3 - (Will give 3 promotion bags)
#
#   Default:
#       npc.promotion.bag.enable = true
#       npc.promotion.equipped.bags = true
#       npc.promotion.bag = 20400
#       npc.promotion.bag.amount = 4
#

npc.promotion.bag.enable = true
npc.promotion.equipped.bags = true
npc.promotion.bag = 20400
npc.promotion.bag.amount = 4

#
#   Example:
#       NpcPromotion.mountEnable = true (enable mount reward)
#       NpcPromotion.mountReward = 74856 (Will learn Blazing Hippogryph as mount)
#
#   Default:
#       NpcPromotion.mountEnable = true
#       NpcPromotion.mountReward = 74856
#

npc.promotion.mount.enable = true
npc.promotion.mount.reward = 74856

#
#   If instead of giving equipment, you prefer to give emblems.
#   You can enable this option and configure the quantity.
#   And the type of emblem to give.
#   You only have to check the emblem ID.
#

npc.promotion.emblems.enable = false
npc.promotion.emblems.id = 49426
npc.promotion.emblems.count = 2000

#
###################################################################################################

###################################################################################################
#   CLASS ENABLE
#
#
#   Description:    Enables the promotion of tank warriors
#
#   Example:    "true" - (Enabled)
#               "false" - (Disabled)
#
#   Default:     true
#

npc.promotion.warrior.tank.enable = true

#   NpcPromotionWarriordps.enable
#
#   Description:    Enable dps warriors
#
#   Example:    "true" - (Enabled)
#               "false" - (Disabled)
#
#   Default:     true
#

npc.promotion.warrior.dps.enable = true

#
###################################################################################################
